
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Press+Start+2P&display=swap');


body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Press Start 2P', cursive;
    background-color: #f5f5f5;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(110, 241, 3, 0.452),
    0 3px 6px rgba(223, 209, 13, 0.719);
    animation: shadow-animation 2s linear infinite;
  }
  
  @keyframes shadow-animation {
    0% {
      box-shadow: 0 2px 4px rgba(110, 241, 3, 0.452),
      0 3px 6px rgba(223, 209, 13, 0.719);
    }
    50% {
      box-shadow: 0 4px 8px rgba(110, 241, 3, 0.752),
      0 6px 12px rgba(223, 209, 13, 0.919);
    }
    100% {
      box-shadow: 0 2px 4px rgba(110, 241, 3, 0.452),
      0 3px 6px rgba(223, 209, 13, 0.719);
    }
  }

  h1 {
    text-align: center;
    margin-top: 0;
    color: #08a00d;
  }
  
  span{
    color: rgb(204, 177, 27);
    animation: color 2s linear infinite;
    cursor: pointer;
    transition: 0.4s;
  }


@keyframes color{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}


  .input-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 70%;
    
  }

  input:hover{
    
  }
  


  button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px 15px 10px ;
    cursor: pointer;
    margin: 5px 5px;
  }
  
  li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  
  li:hover {
    background-color: #ddd;
  }
  
  .completed {
    text-decoration: line-through;
    color: #aaa;
  }

  @media (min-width: 768px) {
    .container{
        width: 750px;
    }
}

 @media (min-width: 992px) {
    .container{
        width: 970px;
    }
}

 @media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
